*{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(135deg, #ff6b6b, #f06595, #74b9ff, #55efc4);
}

h1{
    background-color: #081b31;
    color: #1923da;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover {
   cursor: pointer; 
   background: conic-gradient(#ff6b6b, #a29bfe, #74b9ff, #55efc4, #ff6b6b);
   animation: rotate 6s linear infinite;   
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score #comp-score{
    font-size: 4rem;
}
.msg-container{
   margin-top: 5rem;
}

#msg{
    display: inline;
    background-color:#081b31 ;
    color: #fff;
   font-size: 2rem;
   padding: 1rem;
   border-radius: 1rem;

}
